# MediaHUB Environment File

# PORT CONFIGURATION
APP_PORT=9123
UI_PORT=9124

# DATABASE (SQLite)
DB_PATH=mediahub.db

# ENVIRONMENT TYPE
# Set "release" for production & "debug" for development
GIN_MODE=debug

# Debugger - Set false for production
LOGGER=true

# JWT SETTINGS
JWT_SECRET=secrete-key-here
JWT_EXPIRY_MINUTES=1440 # 24 hours
